.menu-container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.pizza-item {
  display: grid;
  grid-template-columns: 100px 450px 150px;
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #eee;
}

.pizza-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.pizza-info h2 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.ingredients {
  display: grid;
  color: #666;
  font-style: italic;
  margin-bottom: 0.5rem;
  list-style-type: none;

  grid-auto-flow: column;

  justify-content: start;
  padding-inline-start: 0px;
}

.ingredient {
  margin-right: 5px;
}

.price {
  font-weight: bold;
  font-size: 1.1rem;
}

.sold-out {
  color: #999;
  font-weight: bold;
}

.add-to-cart:hover {
  background-color: #e5a700;
}
